:root{
    --white: #FFFFFF;
    --primary-color: #592895;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


.cadastrar-escolas {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 20px;
}

.inputForm{
    width: 50%;
    margin-top: 5px;
    
}

.inputForm input, select{
    margin: 5px 0px 10px 0px;
    border-radius: 5px;
    border: 1.2px solid var(--Cinza-Claro-Dicas, #757575);
    width: 100%;
    padding: 10px 0px 10px 0px;
    padding-left: 0.5rem;
}

.buttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.button{
    width: 45%; 
    margin-top: 20px;

    padding: 10px 0px;
    border-radius: 5px;
}

#submitButton{
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
}

#cancelButton{
    background-color: var(--white);
    border: 1px solid black;
    color: black
    
}

span{
    color: red;
}

.error{
    display: none;
}

.radio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.check {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}